* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.title, .error-message {
  font-size: 14px;
}

input {
  height: 40px;
  padding: 0 15px;
  border-radius: 6px;
  border: 1px solid #949494;
  outline: 0;
}

button {
  height: 40px;
  padding: 0 20px;
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

.required {
  color: blue;
  margin-bottom: 10px;
}
.required input {
  border-color: blue;
}
.required ::placeholder {
  color: blue;
}

.error {
  position: relative;
  color: red;
}
.error input {
  border-color: red;
  color: red;
}
.error ::placeholder {
  color: red;
}

.error::after {
  content: "!";
  width: 20px;
  height: 20px;
  position: absolute;
  right: -30px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 10px);
}

.Form {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 10px;
}
